{% include "store/base.html" %} {% load static %} {% block content %}

<style>
  body {
    background-color: gray;
  }
</style>

<body>
  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <div class="text-center">
      <i class="fa fa-times fa-3x text-danger" aria-hidden="true"></i>

      <br />
      <br />

      <h4>
        <strong>A verificação do email falhou!</strong>
      </h4>

      <hr />

      <p>Por favor, contate o suporte.</p>
    </div>
  </div>
</body>

{% endblock %}

















