{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{

        background-color: gray;
        
    }
</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4>Bem vindo, {{ user | capfirst }}</h4>

        <hr>

        <p>Esse é o <strong>painel de controle</strong> da sua conta. Nele você pode:</p>
        <li>Gerenciar a sua conta</li>
        <li>Acompanhar seus pedidos</li>

        <a class="btn btn-alert navbar-btn text-white" type="button"  href="{% url 'user-logout' %}"> Logout </a>
    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4>Rastrear os seus pedidos</h4>

        <hr>

        <p>Acompanhe todos os seus pedidos aqui...</p>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'track-orders' %}">Meus pedidos</a>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4>Gerenciar sua conta</h4>

        <hr>

        <p>Atualizar ou apagar sua conta</p>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}">Gerenciar sua conta</a>

        <br><br>

        <a class="btn btn-danger navbar-btn text-white" type="button"  href="{% url 'user-logout' %}"> Logout </a>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4>Gerenciar o envio</h4>

        <hr>

        <p>Entre com o endereço para envio</p>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'manage-shipping' %}">Gerenciar envio</a>

        <br><br>

        <a class="btn btn-danger navbar-btn text-white" type="button"  href="{% url 'user-logout' %}"> Logout </a>

    </div>

    <br>
{% endblock %}
</body>



